@media only screen and (max-width: 800px) {
    #projectDetailsBuyNow table, 
    #projectDetailsBuyNow thead, 
    #projectDetailsBuyNow tbody, 
    #projectDetailsBuyNow th, 
    #projectDetailsBuyNow td, 
    #projectDetailsBuyNow tr { 
        display: block; 
    }
    #projectDetailsBuyNow thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #projectDetailsBuyNow tr { border: 1px solid #ccc; }
    #projectDetailsBuyNow td { 
        border: none;
        border-bottom: 1px solid #eee; 
        position: relative;
        padding-left: 25%; 
        white-space: normal;
        text-align:left;
    }
    #projectDetailsBuyNow td:before { 
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
    }
    #projectDetailsBuyNow td:before { content: attr(data-title); }
}
#projectDetailsBuyNow td , #projectDetailsBuyNow th{ 
    text-align: start;
    border: 1px solid rgba(0,0,0,0.2) ;
    opacity: 0.8;
    border-radius: 5px;
    /* border-left: 1px solid rgba(0,0,0,.2) !important; */
    /* border-right: 1px solid transparent !important; */
}
#projectDetailsBuyNow th{ 
    text-indent: 10px !important;
    /*opacity: 0.6;*/
}
.borderBottomNone{
    border-bottom: none;
}
/* .borderLeftNone{
    border-left: 1px solid transparent !important;
}
.borderRightNone{
    border-right: 1px solid transparent !important;
} */
#trValue td{
    /* padding: 20px 0; */
    /* border-left: 1px solid rgba(0,0,0,.9) !important; */
}
@media only screen and (min-width: 801px) {
    .pTitle{
        width: 54%;
    }
}
@media only screen and (min-width: 873px) {
    #projectDetailsBuyNow td { 
        padding:15px 13px;
    }
}




input[type="text"],input[type="password"],input[type="email"] {
    width: 100%;
    border: 1px solid #aaa;
    border-radius: 4px;
    margin: 7px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: 0.3s;
}

input[type="text"]:focus {
    border-color: dodgerBlue;
    box-shadow: 0 0 8px 0 dodgerBlue;
}

.inputWithIcon input[type="text"],input[type="password"],input[type="email"] {
    padding-left: 45px;
}

.inputWithIcon {
    position: relative;
}

.inputWithIcon i {
    position: absolute;
    left: 0;
    top: 8px;
    padding: 13px 12px;
    color: #aaa;
    transition: 0.3s;
    font-size: 16px;
    color: #000;
}

.inputWithIcon input[type="text"]:focus + i {
    color: dodgerBlue;
}

.inputWithIcon.inputIconBg i {
    background-color: #B7B7B7;
    color: #fff;
    padding: 13px 12px;
    border-radius: 4px 0 0 4px;
    color: #000;
}

.inputWithIcon.inputIconBg input[type="text"]:focus + i {
    color: #fff;
    background-color: dodgerBlue;
}
.inputWithIcon.inputIconBg input[type="password"]:focus + i {
    color: #fff;
    background-color: dodgerBlue;
    box-shadow: 0 0 8px 0 dodgerBlue !important;
}
.inputWithIcon.inputIconBg textarea:focus + i {
    color: #fff;
    background-color: dodgerBlue ;
    box-shadow: 0 0 8px 0 dodgerBlue !important;
}
.inputWithIcon.inputIconBg textarea:focus {
    box-shadow: 0 0 8px 0 dodgerBlue !important;
}
.inputWithIcon.inputIconBg input[type="password"]:focus {

    box-shadow: 0 0 8px 0 dodgerBlue !important;
}





.envelopIcon{
    padding: 13px 10px !important;

}
.form-group .is-focused {
    background-image: none !important;
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}
.byNowTextArea{
    width: 100%;
    height: 107px;
    margin-top: 7px;
    margin-bottom: 4px;
    padding-left: 44px;
    border-radius: 4px;
}
.pm-f-22{
    font-size: 22px !important;
}
.byNowTextAreaIcon{
    padding: 45px 12px !important;
}
.color-green{
    color: #12BC00;
}
.pymntDiv{
    display: flex;
    padding-left: 7px;
}
.payment-img{
    padding-top: 5px;
    max-width: 91%;
}
.pymntRadio input[type="radio"]:checked ~ .check {
    background-color: #06D5D3;
}
.newSubLabels{
    color: #06D5D3;
    font-size: 20px;
    font-weight: 600;
    background-color: transparent !important;
}
.existedCustomerText{
    color: #06D5D3;
    font-weight: 600;
    padding-top: 12px;
    margin-right: 10px;

    padding-left: 20px;
}

/* toggle btn */


.stValue2{
    float: inline-end;
    font-size: 16px;
}
.stValue1{

    font-size: 16px;
}
.pt-15{
    padding-top: 15px;
}
.subtotalValue{
    font-weight: 700;
    font-size: 16px;
}
.subtotalValueUl{
    padding: 5px 12px;
}
.salespDiv{
    display: flex;
}
.salesProfessional{
    padding-top: 25px;
}
.sp-li-1 , .sp-li-2{
    font-size: 20px;
    font-weight: 700;
}
.sp-li-2{
    padding-top: 10px;
}
.sp-li-2 , .sp-li-3 ,.sp-li-4, .sp-li-5{
    padding-left: 10px;
}
.salespDiv{
    padding: 28px 5px;
}
.bNowTerms{
    text-align: center;
    padding-top: 20px;
}

.pm-d-flex{
    display: flex;
    padding-top: 40px;
}

.f-17{
    font-size: 17px;
    opacity: 0.7;
}
.pm-input-pw{
    width: 100%;
    padding: 11px 0;
    height: 42px;
    margin-top: 8px;
    padding-left: 44px;
}
.pm-btn-group{
    margin: 10px 0;
}
.pd-radio{
    background-color: #fff !important;
    color: #000 !important;
    padding: 5px 10px;
    border: 1px solid #06D5D3  ;
}

.pd-radio.active{
    background-color: #06D5D3 !important;
    color: #fff !important;
    border: 1px solid #06D5D3  ;
}
.pd-radio.active.focus{
    background-color: #06D5D3 !important;
    color: #fff ;
    border: 1px solid #06D5D3  ;
}

.pd-radio-1{
    border-top-left-radius: 20px !important ;
    border-bottom-left-radius: 20px !important;

}
.pd-radio-2{
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
}
.pm-BtnSubmit{
    color: #fff !important;
}

@media only screen and (max-width: 991px) {
    .pm-d-flex{
        display: block;
    }
    .pm-btn-group {
        margin: 10px 13px !important;
    }
    #projectDetailsBuyNow tr {
        border: none !important;
    }
    .table-bordered {
        border: none !important;
    }
}

/* $$$$$$$$$$$$$$$$$$$$$$$$ */

/* FOR SAMPLE PAGE 25-09-2019*/

#sample-bg{
    background-size: 100% 100%;
}

.newsample-row{
    padding: 25px 0;
    color: #fff;
}
.newsample-row h1{
    font-size: 20px;
}
.newsample-datails{
    display: flex;
}
.newsample-datails li{
    display: grid;
    font-size: 16px;
}
.newsample-datails li span{
    padding: 7px 0px;
}
.ns-d-li-2 , .ns-d-li-3{
    border-left: 1px solid #fff;
    padding-left:20px !important;
}
.pt-30{
    padding-top: 30px;
}
.sampleformImage{
    width: 166px;
    margin-left: auto;
}
@media only screen and (max-width: 991px) {
    .sampleformImage{
        display: none;
    }
}
@media only screen and (max-width: 510px) {
    #sampleForm:before {
        content : "";
        position: absolute;
        right: 6px;
        top: 28px;
        height: 2px;
        width: 10% !important;
        border-top: 2px solid #00D5E9;
    }

}
.newsample-row h1{
    line-height: 25px;
}
.sample-form-breadcrumb{
    font-style: italic;
    background-color: transparent;
    font-weight: normal;
}
.scp-breadcrumb{
    margin-top: 14px;
    margin-bottom: -20px;
    padding-left: 16px;
}
.sample-countries{
    width: 100%;
    margin: 0px;
    padding: 10px;
    padding-left: 43px;
    color: gray;
    background: #fff;
    border-radius: 4px;
}
.sample-countriesIcon{
    margin-top: -8px;
}
.sampleformMsgIcon {
    padding: 45px 9px !important;
}
.sampleRequestBbbtn{
    color: #fff !important;
    font-weight: bold;
    font-size: 15px;
}
.sample-formImage{
    width: 99px;
    padding: 29px 0px;
}
#sampleForm .form-group input ,#sampleForm .sample-countries ,#sampleForm .byNowTextArea {
    width: 96%;
}
.securityInput {
    width: 95% !important;
}
#sampleForm:before {
    content : "";
    position: absolute;
    right: 6px;
    top: 28px;
    height: 2px;
    width: 37%;
    border-top: 2px solid #00D5E9;
}

.sampleFormRow:before {
    content: "";
    position: absolute;
    right: 20px;
    bottom: -25px;
    height: 5px;
    width: 92%;
    border-bottom: 2px solid #00D5E9;
}
.sampleFormColumn:before {
    content: "";
    position: absolute;
    right: 20px;
    top: 28px;
    height: 99.5%;
    width: 50%;
    border-right: 2px solid aqua;
}
.pl-0{
    padding-left: 0;
}

/* FOR SAMPLE PAGE */

/* $$$$$$$$$$$$$$$$$$$$$$$$ */