.pd-titles{
padding: 10px 0;
font-weight: 700;
border-bottom: 1px solid black;
}
.pd-columns{
    padding: 0 0;
    text-align: center;
    border-left: 1px dotted black;
}
.pd-row{
    background-color: rgb(240, 240, 240);
    padding: 0 0px;
    border-radius: 5px;
    display: flex;
    margin: 0;
}
.product-title{
    display: grid;
}
.product-title div{
    padding: 5px 0;
}
.pd-values{
    padding: 25px 0;
}
.borderleftnone{
    border-left: none !important;
}
.pd-radio{
    background-color: #fff !important;
    color: #000 ;
    padding: 5px 10px;
    border: 1px solid green  ;
}

.pd-radio.active{
    background-color: green !important;
    color: #fff ;
    border: 1px solid green  ;
}
.pd-radio.active.focus{
    background-color: green !important;
    color: #fff ;
    border: 1px solid green  ;
}

/* 

*/

.pd-card {
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
    transition: 0.3s;
    width: 70%;
    margin: 0px auto;
    padding: 10px 3px;
    display: flex;
  }
  .pd-card:hover {
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); */
  }
  .pd-profile{
      
  }
  /*  */

/* label.btn span {
    font-size: 1.5em ;
  } 
  label input[type="radio"] ~ i.fa.fa-circle-o{
      color: #c8c8c8;    
      display: inline;
  }
  label input[type="radio"] ~ i.fa.fa-dot-circle-o{
      display: none;
  }
  label input[type="radio"]:checked ~ i.fa.fa-circle-o{
      display: none;
  }
  label input[type="radio"]:checked ~ i.fa.fa-dot-circle-o{
      color: #7AA3CC;    display: inline;
  }
  label:hover input[type="radio"] ~ i.fa {
  color: #7AA3CC;
  } */
  /*  */
  .table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}
@media screen and (max-width: 600px) {
    table#cart tbody td .form-control{
		width:20%;
		display: inline !important;
	}
	.actions .btn{
		width:36%;
		margin:1.5em 0;
	}
	.actions .btn-info{
		float:left;
	}
	.actions .btn-danger{
		float:right;
	}
	table#cart thead { display: none; }
	table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
	table#cart tbody tr td:first-child { background: #333; color: #fff; }
	table#cart tbody td:before {
		content: attr(data-th); font-weight: bold;
		display: inline-block; width: 8rem;
	}
	table#cart tfoot td{display:block; }
	table#cart tfoot td .btn{display:block;}
	
}

/* 23-09-2019 */

.payment-img{
    padding: 0px 33px;
    height: 36px;
    margin-top: -32px;
}
.pp-imgLabel{
    padding-left: 31px ;
}

.radio-inline input[type="radio"] {
    position: inherit;
    margin-left: -20px;
}
.radio-inline {
    display: flex;
    margin-bottom: 10px;
}
.f-13{
    font-size: 13px;
}
.pd-container {
    padding-right: 6px;
    padding-left: 6px;
}
.fw-bold{
    font-weight: bold;
}
.pd-th{
    opacity: 0.7;
}
.pm-form-control{
    margin: 5px 0;
    height: 36px;
}
.pm-btn-group{
    margin: 10px 0;
}
.pm-agreement{
    width: 75%;
    margin: 20px auto;
}
.optionsRadios.checked{
    background: azure !important;
}
.pm-checkout-btn{
    width: 25%;
    margin: 10px auto;
    background: green;
    border: #38A09F;
    padding: 7px 0;
    font-size: 21px;
    border-radius: 10px;
    color: #fff;
}
.pm-checkout{
    display: flex;
}

.pd-profile-img{
    box-shadow: 1px 1px 15px -5px black;
    background: #38A09F;
    border-radius: 20px;
    height: 175px;
}
.profile-name{
    font-size: 34px;
    text-align: end;
    font-weight: 900;
    position: relative;
    margin-right: -20px;
    z-index: 11;
    color: black;
}
.profile-data{
    padding: 10px 10px;
    text-align: end;
    color: #38A09F;
    font-weight: 700;
    
}
.pm-hr{
    border: 1px solid #38A09F;
    margin-top: 0px;
    margin-bottom: 0px;
}
.f-20{
    font-size: 20px;
    font-weight: 700;
    color: rgba(0,0,0,0.6);
}
.pm-panel-body{
    display: flex;
    padding: 0;
    margin-top: 30px;
}
.pm-captcha{
    padding: 10px 0px 8px 31px;
    font-weight: bolder;
}
.pm-terms{
    height: 250px;
    overflow-y: auto;
    width: 96%;
    margin: 16px auto auto;
    padding: 10px 10px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 4px;
}




.pm-radio input[type="radio"] {
    position: absolute;
    opacity: 0;
}
.pm-radio input[type="radio"] + .pm-radio-label:before {
    content: '';
    background: #f4f4f4;
    border-radius: 100%;
    border: 1px solid #b4b4b4;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    position: relative;
    top: -0.2em;
    margin-right: 1em;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    transition: all 250ms ease;
}
.pm-radio input[type="radio"]:checked + .pm-radio-label:before {
    background-color: #3197ee;
    box-shadow: inset 0 0 0 4px #f4f4f4;
}
.pm-radio input[type="radio"]:focus + .pm-radio-label:before {
    outline: none;
    border-color: #3197ee;
}
.pm-radio input[type="radio"]:disabled + .pm-radio-label:before {
    box-shadow: inset 0 0 0 4px #f4f4f4;
    border-color: #b4b4b4;
    background: #b4b4b4;
}
.pm-radio input[type="radio"] + .pm-radio-label:empty:before {
    margin-right: 0;
}


.cclogoimg{
    width: 40%;
    margin: 0 auto;
}



.pm-radio {
    margin-top: 0px;
    margin-bottom: 0px;
}